* {
    margin: 0;
    padding: 0;
}

/**NAVBAR*/
nav{
    background-color: white;
}
.navbar-wrapper{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 1.5em;
}

ul{
  list-style: none;
}
li{
    padding: 0 5px;
    display: inline;
}

/*MAIN CONTENT*/
main{
    background-color: #DCDCDC;
}

.part-one{
    display: grid;
    grid-template-columns: 75% 25%;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 50px;
    background-color: white;
}

.part-one-text{
    color: black;
    margin-top: 150px;
    margin-left: -50px;
}

#part-one-more{
    margin-top: 5px;
}

.part-one-thumbnail{
    position: absolute;
    padding: 30px;
    background-color: white;
    top: 350px;
    right: 120px;
}

.part-one-thumbnail img{
    height: 250px;
    width: 300px;
}

.part-two{
    padding-top: 50px;
    position: relative;
}
.part-two img{
    padding: 5px;
    background-color: white;
    margin-top: 30px;
    margin-left: 50px;
    width: 650px;
    height: 350px;   
}

.part-two-thumbnail{
    background-color: white;
    position: absolute;
    top: 150px;
    right: 200px;
    width: 350px;
    padding: 50px;
    font-weight: light;
    line-height: 1.3;
}
a{
    color: black;
}

.services{
    margin-top: 50px;
    margin-left: 40px;
    text-align: center;
    padding: 20px;
}

.service-container{
    display: flex;
    justify-content: space-between;
}

.services h2{
    padding-bottom: 10px;
}

.service img{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    height: 250px;
    width: 250px;
}