* {
    margin: 0;
    padding: 0;
}

/**NAVBAR*/
.navbar-wrapper{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 1.5em;
}

ul{
  list-style: none;
}
li{
    padding: 0 5px;
    display: inline;
}